* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    --negro: #1E1F28;
    --fondo: #ffffff;
    --fondoGris: #FAFAFA;
    --amarillo:#C9932C;
    --azul:#3d405b;
}

main {
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: var(--fondoGris);
}

.Container_Derecha {
    display: grid;
    grid-template-rows: 0.6fr 0.8fr 3fr 0.6fr;
    margin-right: 60px;
    
}

/*colores: fondo #FFFFFF Letras: #f7f5f0 negro #1E1F28*/

/*Inicia BoxCedula*/
.cedula {
    display: flex;
    justify-content: center;
}

.ContainerCedula {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.ContainerCedula form{
    display: flex;
    align-items: center;
    height: 100%;

}

.ContainerCedula #Cedula {
    border-radius: 5px;
    background-color: var(--fondo);
    height: 1.8rem;
    width: 350px;
    font-size: 1em;
    text-align: center;
}

.ContainerCedula #btnCedula {
    border: none;
    outline: none;
    background: #1E1F28;
    color: var(--fondo);
    height: 25px;
    width: 25px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    font-size: 22px;
    margin-left: 20px;
    transition: all 400ms ease;
}

.ContainerCedula #btnCedula:hover {
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 1);
    background: #C9932C;
    transform: translate(-3%);
    color: var(--negro);

}

/*Termina BoxCedula*/
/* Involucrados*/
.Involucrados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerIzquierda {
    margin: 20px 20px;
    padding: 10px;
    height: 100%;
    width: 250px;
    background-color: var(--fondo);
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Involucrados #involucrados {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.0);
}

.TarjetaInvolucrado {
    padding: 0;
    border-radius: 3px;
    height: 120px;
    width: 220px;
    background-color: var(--fondo);
    color: var(--negro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor:pointer; 
    cursor: hand;
    transition: all 400ms ease;
    border-right: #A24247 solid 2px;
    border-bottom: #A24247 solid 2px;
    border-top: #A24247 solid 1px;
    border-left: #A24247 solid 1px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.TarjetaInvolucrado:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translate(-0.4%);
    background-color: #f5f5f5;
}

.TarjetaInvolucrado * {
    background-color: rgba(0, 0, 0, 0.0);
}

.TarjetaInvolucrado #NombreInvolucrado {
    padding: 5px 7px;
    font-size: 1em;
    line-height: 1.2;
    font-weight: bold;
    background-color: transparent;
    color: var(--negro);
    border-radius: 3px 3px 0 0;
    
    
}

.TarjetaInvolucrado #Contacto {
    font-size: 0.9em;
    line-height: 1.2;
    font-weight: normal;
    padding: 0 7px 0 7px;
}

.TarjetaInvolucrado .TextoBajo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 218px;
    font-size: 0.9rem;
}
.TarjetaInvolucrado #Cedula{
    padding-left: 7px;
    font-size: 0.9rem;
}
.TarjetaInvolucrado #ROL{
    padding-right: 7px;
    font-size: 0.9rem;
}
.TarjetaInvolucrado #DecoradorTarjeta{
    background: linear-gradient(30deg ,transparent 30%,rgba(162, 66, 71, 0.5) 10%,rgba(113, 23, 23, 0.5) 50%,#A24247 50%);
    /*#711717
    rgba(113, 23, 23, 0.5)*/
    height: 15px;
    width: 218px;
    margin-bottom: 4px;

}

.TarjetaInvolucrado * {
    font-size: 0.9em;
    font-weight: normal;
}

/*termina involucrados */

.RegistroCaso {
    background-color: var(--fondo);
    margin: 5px 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 15px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    
}

.RegistroCaso #NombreCaso {
    height: 1.8rem;
    width: 100%;
    background-color: var(--negro);
    border-radius: 3px;
    font-size: 1rem;
    color: var(--fondo);
   
    padding: 0 10px;
    font-weight: normal;
    border: var(--negro) solid 2px;
}

.RegistroCaso .cotainerSwitch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RegistroCaso .etiquetaSwitch {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.7rem;
    border: rgba(0, 0, 0, 0.1) solid 2px;
    border-radius: 5px;
    height: 1.8rem;
    padding: 0 3px;
}

.RegistroCaso #enProceso {
    color: #A24247;
    
}

.RegistroCaso #terminado {
    color: #548273;
    

}

.RegistroCaso #NuevoCaso {
    height: 2.1em;
    padding: 0 5px;
    border: none;
    background: var(--azul);
    cursor: pointer;
    color: var(--fondo);
    font-size: 16px;
    font-weight: normal;
    border-radius: 5px;
    transition: all 400ms ease;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    


}

.RegistroCaso #NuevoCaso:hover {
    transform: translateX(-1%) translateY(-1%);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 1);
    background: var(--amarillo);
    color: var(--negro);

}

.RegistroCaso .switch {
    --button-width: 3.5em;
    --button-height: 2em;
    --toggle-diameter: 1.5em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #A24247;
    --color-green: #548273;
}

.RegistroCaso .slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
    border: var(--negro) solid 2px;
    margin: 0 10px;
}

.RegistroCaso .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}

.RegistroCaso .switch input[type="checkbox"]:checked+.slider {
    background-color: var(--color-green);
}

.RegistroCaso .switch input[type="checkbox"]:checked+.slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.RegistroCaso .switch input[type="checkbox"] {
    display: none;
}

.RegistroCaso .switch input[type="checkbox"]:active+.slider::after {
    width: var(--toggle-wider);
}

.RegistroCaso .switch input[type="checkbox"]:checked:active+.slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}



.RegistroAudiencia {
    background-color: var(--fondo);
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 50px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.RegistroAudiencia form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.RegistroAudiencia #Direcion {
    width: 100%;
    height: 1.8rem;
    border-radius: 3px;
    border: var(--negro) solid 2px;
    background: var(--negro);
    padding: 0 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: normal;
}

.RegistroAudiencia #NombreLugar {
    width: 100%;
    height: 1.8rem;
    border-radius: 3px;
    background: var(--negro);
    padding: 0 10px;
    font-size: 1rem;
    margin-bottom: 5px;
    border: var(--negro) solid 2px;
}

.RegistroAudiencia #FechaAudiencia {
    width: 250px;
    height: 1.8rem;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 1em;
    margin-top: 5px;
    font-weight: normal;
    border: var(--negro) solid 1px;
}

.RegistroAudiencia .HoraAudiencia {
    display: flex;
    flex-wrap: wrap;
    height: 45px;
    width: 250px;
    justify-content: center;
    align-items: center;
}

.RegistroAudiencia .HoraAudiencia h3 {
    font-size: 1rem;
    font-weight: bold;
}

.RegistroAudiencia #hora {
    width: 100%;
    text-align: center;
    font-size: 1rem;

}

.RegistroAudiencia .Horas {
    margin: 0 3px;
    width: 35px;
    text-align: center;
    border-radius: 3px;
    height: 25px;
    border: var(--negro) solid 2px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.RegistroAudiencia #Categorias {
    width: 250px;
    height: 1.8rem;
    border-radius: 3px;
    text-align: center;
    margin-top: 5px;
    border: var(--negro) solid 1px;
}

.RegistroAudiencia .containerDescripcion {
    padding: 0 8px;
    background: var(--negro);
    border-radius: 3px;
    width: 100%;
    margin-top: 5px;
}

.RegistroAudiencia .containerDescripcion h3 {
    color: var(--fondo);
    font-size: 1rem;
    margin: 10px 5px;
    font-weight: normal;

}

.RegistroAudiencia #DescripcionAudiencia {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    height: 125px;
}

.RegistroAudiencia .GuardarNotificar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    align-items: center;
}

.RegistroAudiencia .btnGN {
    height: 2.1em;
    padding: 0 5px;
    border: ridge;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 400ms ease;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.RegistroAudiencia #Guardar{
    background: var(--fondoGris);
}
.RegistroAudiencia #Notificar{
    background: var(--negro);
    color: var(--fondo);
}

.RegistroAudiencia #Notificar:hover{
    background: var(--amarillo);
    color: var(--fondo);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 1);
    transform: translateX(-1%) translateY(-1%);
}

.RegistroAudiencia #Guardar:hover{
    background: var(--fondo);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 1);
    transform: translateX(-1%) translateY(-1%);
}
.containerBtnBajos{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.BotonesBajos {
    display: flex;
    flex-wrap: wrap;
    height: min-content;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}
.BotonesBajos .btnVA{
    margin: 0 12px;
    height: 2.1em;
    padding: 0 5px;
    border: none;
    font-size: 16px;

    border-radius: 5px;
    transition: all 400ms ease;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--negro);
    color: var(--fondo);
}

.BotonesBajos .btnVA:hover{
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 1);
    transform: translateX(-1%) translateY(-1%);
    background: #30323f;
}