.h2Home{
	text-align: center;
	padding: 2em 0;
	font-size: 30px;
	color: #000113;
	margin-top: -2%;
}


.boxCentrado{
	background: #fff;
	color: #333;
	width: 60%;
	margin: 0 auto;

}

 input, select {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

label{
	font-family: sans-serif;
	font-weight: bold;

}
