* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  --negro: #1E1F28;
  --fondo: #ffffff;
  --fondoGris: #f5f5f5;
  --fondoBlanco:#ffffff;
  /*#B4BBEE  FAFAFA*/
  --amarillo: #C9932C;
  --azul: #3d405b;
}
.oculto {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

a{
  text-decoration: none;
  color: var(--negro);
}
.containerMain {
  width: 100vw;
  height: 91vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 1fr;
  background-color: var(--negro);
}

.proximasAu {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  background-color: var(--fondoGris);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  align-items: flex-start;
}

.titleGroup {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 22px;
}

.titleGroup h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.titleGroup button {
  display: inline-block;
  margin: 0 15px;
  border: none;
  color: var(--negro);
  transition: all 0.4s ease;
  background-color: transparent;
  cursor: pointer;

}

.titleGroup button span {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: normal;
  position: relative;
}

.titleGroup button span::after {
  content: '»';
  opacity: 0;
  transition: all 0.4s;
  right: -10px;
  position: absolute;
}

.titleGroup button:hover span::after {
  opacity: 1;
  color: blue;
}

.titleGroup button:hover {
  color: blue;
}

.containerTarjetas {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content:flex-start;
  align-content: flex-start;
  padding-top: 5px;
}

.tarjetasTerminados{
  height: 160px;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content:  space-between ,flex-start;
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  height: 135px;
  width: 240px;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  align-items: flex-start;
  transition: all 0.4s;
}
.proceso {
  border-right: #A24247 solid 2px;
  border-bottom: #A24247 solid 2px;
  border-top: #A24247 solid 1px;
  border-left: #A24247 solid 1px;

}

.proximas {
  border-right: #010433 solid 2px;
  border-bottom: #010433 solid 2px;
  border-top: #010433 solid 1px;
  border-left: #010433 solid 1px;

}

.headerTargeta {
  display: flex;
  flex-wrap: wrap;
  background-color: #A24247;
  width: 100%;
  color: var(--fondo);
  border-radius: 2px;
  padding: 5px;

  max-height: 44%;
  overflow: hidden;
  align-items: center;
}

.headerAudiencia{
  background: linear-gradient(-70deg ,transparent 8%,
  rgba(4, 5, 51, 0.5) 5%,
  rgba(4, 5, 51, 0.5) 12%,
  #010433 12%);
}
.tarjetas h3{
  font-weight: normal;
  width: 90%;
  margin-left: 5px;
  font-size: 0.9rem;
}

.headerTargeta h3{
  width: 90%;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 0;
}

.casosPro {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--fondoGris);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 10px;
  padding: 10px;
}
.casosPro .proceso{
  height: 115px;
}


.casosTer {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  background-color: var(--fondoGris);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  align-items: flex-start;
}

.casosTer .terminados{
  overflow: hidden;
  min-width: 240px;
  border-right: #3F846D solid 2px;
  border-bottom: #3F846D solid 2px;
  border-top: #3F846D solid 1px;
  border-left: #3F846D solid 1px;
  margin-bottom: 4px;
  

}

.headerTerminados{
  background: linear-gradient(-70deg ,transparent 8%,
  rgba(63, 132, 109, 0.5) 5%,
  rgba(63, 132, 109, 0.5) 12%,
  #3F846D 12%);
}
