* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    --negro: #1E1F28;
    --fondo: #ffffff;
    --fondoGris: #FAFAFA;
    --verde: #7FFF00;
    --azul: #010433;
    --amarillo: #D8C50A;
    --rojo: #8B0000;
    --size: 1.9rem;
}
a{
  text-decoration: none;
  color: var(--negro);
}
main{
  height: 88vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 0;
  padding: 0;
  background: url(../images/fondo.jpg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 91vh;
}

.DetalleAudiencia{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 0.3fr 4fr 0.5fr;
  grid-template-columns: 1fr ;
}

.DetalleAudiencia
 form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.DetalleAudiencia h2{
    text-align: center;
    font-size: 25px;
    justify-self: center;

}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  height: 135px;
  width: 240px;
  border-right: #010433 solid 2px;
  border-bottom: #010433 solid 2px;
  border-top: #010433 solid 1px;
  border-left: #010433 solid 1px;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  align-items: flex-start;
  transition: all 0.4s;

}
.Container{
 
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
  background-color: var(--fondoGris);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  align-items: flex-start;
  height: 70vh;
  max-height:650px ;
  align-self: center;
  max-width: 1080px;
  width: 80vw;
}

.headerTargeta {
  display: flex;
  flex-wrap: wrap;
  background-color: #010433;
  width: 100%;
  color: var(--fondo);
  border-radius: 2px;
  padding: 5px;
  background: linear-gradient(-70deg ,transparent 8%,
  rgb(68, 187,164) 5%,
  rgb(68, 187,164) 12%,
  #010433 12%);
  max-height: 44%;
  overflow: hidden;
  align-items: center;
}

.headerTargeta2 {
  display: flex;
  flex-wrap: wrap;
  background-color: #010433;
  width: 100%;
  color: var(--fondo);
  border-radius: 2px;
  padding: 5px;
  background: linear-gradient(-70deg ,transparent 8%,
  rgb(255, 215, 0) 5%,
  rgb(255, 215, 0) 12%,
  #010433 12%);
  max-height: 44%;
  overflow: hidden;
  align-items: center;
}
.headerTargeta3 {
  display: flex;
  flex-wrap: wrap;
  background-color: #010433;
  width: 100%;
  color: var(--fondo);
  border-radius: 2px;
  padding: 5px;
  background: linear-gradient(-70deg ,transparent 8%,
  rgb(187, 37, 42) 5%,
  rgb(187, 37, 42) 12%,
  #010433 12%);
  max-height: 44%;
  overflow: hidden;
  align-items: center;
}

.tarjetas h3{
  font-weight: normal;
  width: 90%;
  margin-left: 5px;
  font-size: 0.9rem;

}

.headerTargeta h3{
  width: 90%;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 0;
}

.headerTargeta2 h3{
  width: 90%;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 0;
}

.containerBtnBajos {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    

}

.BotonesBajos {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fondo);
    border-radius: 5px;
    width: 400px;
    height: 100px;
    background-color: transparent;
}

.BotonesBajos .btnVA {
    margin: 0 12px;
    height: 45px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    transition: all 400ms ease;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    background-color: #b9a703c8;
    color: var(--fondo);
    display: inline-block;
    cursor: pointer;
    width: 163px;

}

.BotonesBajos span {
    position: relative;
    display: inline-block;
    transition: 0.4s;
    font-weight: bold;
}

.BotonesBajos span::after {
    content: '»';
    position: absolute;
    opacity: 0;
    transition: 0.4s;
    right: -15px;
    top: 0;
}
.EstadoCasoContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
 .etiquetaSwitch {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.7rem;
  border: rgba(0, 0, 0, 0.1) solid 2px;
  border-radius: 5px;
  height: 1.8rem;
  padding: 0 3px;
  width: 110px;
  text-align: center;
}

 #enProceso {
  color: #A24247 ;
  background-color: transparent;
  border:solid #A24247 1px;


}

 #terminado {
  color: #548273;
  background-color: transparent;
  border: solid #548273 1px;


}

 .switch {
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #A24247;
  --color-green: #548273;
}

 .slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
  border: var(--negro) solid 2px;
  margin: 0 10px;
}

 .slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

 .switch input[type="checkbox"]:checked+.slider {
  background-color: var(--color-green);
}

 .switch input[type="checkbox"]:checked+.slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

 .switch input[type="checkbox"] {
  display: none;
}

 .switch input[type="checkbox"]:active+.slider::after {
  width: var(--toggle-wider);
}

 .switch input[type="checkbox"]:checked:active+.slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

