* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    --negro: #1E1F28;
    --fondo: #ffffff;
    --fondoGris: #FAFAFA;
    --amarillo: #C9932C;
    --azul: #3d405b;
    --size: 1.9rem;
}

::-webkit-scrollbar {
    display: none;
}


body {
    width: 100%;
    height: 100vh;
    
}

.oculto{
    display: none;
}


main {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    background: var(--fondoGris);
}



.Container_Derecha {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 0.6fr 0.8fr 2.5fr 0.6fr;
    grid-template-columns: 3.5fr 1fr;
    

}

/*colores: fondo #FFFFFF Letras: #f7f5f0 negro #1E1F28*/

/*Inicia BoxCedula*/
.cedula {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
}

.ContainerCedula {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.ContainerCedula form {
    display: flex;
    align-items: center;
    height: 100%;

}

.ContainerCedula #txtCedula {
    border-radius: 5px;
    background-color: var(--fondo);
    height: var(--size);
    width: 350px;
    font-size: 1em;
    text-align: center;
}

.ContainerCedula #btnCedula {
    border: none;
    outline: none;
    background: #1E1F28;
    color: var(--fondo);
    height: 25px;
    width: 25px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    font-size: 22px;
    margin-left: 20px;
    transition: all 400ms ease;
}

.ContainerCedula #btnCedula:hover {
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 1);
    background: #C9932C;
    transform: translate(-3%);
    color: var(--negro);

}
/*ASIDE*/
#containerMenuLateral{
    grid-column: 2/3;
    grid-row: 1/5;
    background: var(--negro);
    margin-left: 1vw;
    box-shadow: -11px 10px 15px -9px rgba(0,0,0,0.53);
    -webkit-box-shadow: -11px 10px 15px -9px rgba(0,0,0,0.53);
    -moz-box-shadow: -11px 10px 15px -9px rgba(0,0,0,0.53);
}
aside .btnAnimado  {
    padding: 0.8rem 1rem;
    border: none;
    background: var(--negro);
    cursor: pointer;
    color: var(--fondo);
    border-radius: 5px;
    transition: all 400ms ease;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 95%;
    font-weight: bold;
}

aside .btnAnimado span {
    position: relative;
    transition: 0.4s;
    font-size: 18px;
}

aside .btnAnimado  span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.4s;
}

aside .btnAnimado:hover span {
    padding-right: 15px;
}

aside .btnAnimado:hover span:after {
    opacity: 1;
    right: 0;
}

aside .btnAnimado:hover {
    background: var(--amarillo);
}


/*Termina BoxCedula*/
/* Involucrados*/
.containerIzquierda {
    margin: 20px 20px;
    padding: 10px;
    height: 790px;
    width: 250px;
    background-color: var(--fondo);
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;

}

.Involucrados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Involucrados #involucrados {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.0);
}

.TarjetaInvolucrado {
    padding: 0;
    border-radius: 3px;
    height: 120px;
    width: 220px;
    background-color: var(--fondo);
    color: var(--negro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    cursor: hand;
    transition: all 400ms ease;
    border-right: #A24247 solid 2px;
    border-bottom: #A24247 solid 2px;
    border-top: #A24247 solid 1px;
    border-left: #A24247 solid 1px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
.Abogado {
    padding: 0;
    border-radius: 3px;
    height: 120px;
    width: 220px;
    background-color: var(--fondo);
    color: var(--negro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    cursor: hand;
    transition: all 400ms ease;
    border-right: #42a28f solid 2px;
    border-bottom: #42a28f solid 2px;
    border-top: #42a28f solid 1px;
    border-left: #42a28f solid 1px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
.Juez  {
    padding: 0;
    border-radius: 3px;
    height: 120px;
    width: 220px;
    background-color: var(--fondo);
    color: var(--negro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    cursor: hand;
    transition: all 400ms ease;
    border-right: #8542a2 solid 2px;
    border-bottom: #8542a2 solid 2px;
    border-top: #8542a2 solid 1px;
    border-left: #8542a2 solid 1px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.TarjetaInvolucrado:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translate(-0.4%);
    background-color: #f5f5f5;
}

.TarjetaInvolucrado * {
    background-color: rgba(0, 0, 0, 0.0);
}

.TarjetaInvolucrado #NombreInvolucrado {
    padding: 5px 7px;
    background-color: transparent;


}
.TarjetaInvolucrado #NombreInvolucrado * {
    font-size: 1em;
    line-height: 1.2;
    font-weight: bold;
    background-color: transparent;
    color: var(--negro);
}



.TarjetaInvolucrado #Contacto {
    padding: 0 7px 0 7px;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.2;
}

.TarjetaInvolucrado #spanContacto {
    font-size: 0.9em;
    line-height: 1.2;
    font-weight: normal;
}
.TarjetaInvolucrado .TextoBajo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 218px;
}


.TarjetaInvolucrado #Cedula {
    padding-left: 7px;
    font-size: 0.9rem;
    font-weight: normal;
}
.TarjetaInvolucrado #spanCedula {
    
    font-size: 0.9rem;
    font-weight: normal;
}

.TarjetaInvolucrado #ROL {
    padding-right: 7px;
    font-size: 0.9rem;
}

.TarjetaInvolucrado #DecoradorTarjeta {
    background: linear-gradient(30deg, transparent 30%, rgba(162, 66, 71, 0.5) 10%, rgba(113, 23, 23, 0.5) 50%, #A24247 50%);
    /*#711717
    rgba(113, 23, 23, 0.5)*/
    height: 15px;
    width: 218px;
    margin-bottom: 4px;
    margin-top: 3px;
    

}
.TarjetaInvolucrado #DecoradorTarjetaAbogado {
    background: linear-gradient(30deg, transparent 30%, rgba(66, 160, 162, 0.5) 10%, rgba(66, 160, 162, 0.5) 50%, #42a28f 50%);
    /*#711717
    rgba(113, 23, 23, 0.5)*/
    height: 15px;
    width: 218px;
    margin-bottom: 4px;
    margin-top: 3px;
    

}
.TarjetaInvolucrado #DecoradorTarjetaJuez {
    background: linear-gradient(30deg, transparent 30%, rgba(162, 66, 144, 0.5) 10%, rgba(162, 66, 144, 0.5) 50%, #8542a2 50%);
    /*#711717
    rgba(113, 23, 23, 0.5)*/
    height: 15px;
    width: 218px;
    margin-bottom: 4px;
    margin-top: 3px;
    

}



/*termina involucrados */

.RegistroCaso {
    background-color: var(--fondo);
    margin: 5px 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px 50px 5px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/3;
}
.labelTitutlo{
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: var(--negro);
    text-align: center;
    width: 100%;
    height: 1.3rem;
}

.RegistroCaso #NombreCaso {
    height: var(--size);
    width: 100%;
    background-color: var(--negro);
    border-radius: 3px;
    font-size: 1rem;
    color: var(--fondo);
    padding: 0 10px;
    font-weight: bold;
    border: var(--negro) solid 2px;
}

.RegistroCaso .cotainerSwitch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RegistroCaso .etiquetaSwitch {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.7rem;
    border: rgba(0, 0, 0, 0.1) solid 2px;
    border-radius: 5px;
    height: 1.8rem;
    padding: 0 3px;
}

.RegistroCaso #enProceso {
    color: #fff;
    background-color: #A24247;

}

.RegistroCaso #terminado {
    color: #fff;
    background-color: #548273;


}

.RegistroCaso .switch {
    --button-width: 3.5em;
    --button-height: 2em;
    --toggle-diameter: 1.5em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #A24247;
    --color-green: #548273;
}

.RegistroCaso .slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
    border: var(--negro) solid 2px;
    margin: 0 10px;
}

.RegistroCaso .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}

.RegistroCaso .switch input[type="checkbox"]:checked+.slider {
    background-color: var(--color-green);
}

.RegistroCaso .switch input[type="checkbox"]:checked+.slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.RegistroCaso .switch input[type="checkbox"] {
    display: none;
}

.RegistroCaso .switch input[type="checkbox"]:active+.slider::after {
    width: var(--toggle-wider);
}

.RegistroCaso .switch input[type="checkbox"]:checked:active+.slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}



.RegistroAudiencia {
    background-color: var(--fondo);
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 50px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    grid-column: 1/2;
    grid-row: 3/4;
}

.RegistroAudiencia form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.RegistroAudiencia #Direcion {
    width: 100%;
    height: var(--size);
    border-radius: 3px;
    border: var(--negro) solid 2px;
    background: var(--negro);
    padding: 0 10px;
    font-size: 1rem;
    margin: 10px 0;
    font-weight: bold;
    color: var(--fondo);
}

.RegistroAudiencia #NombreLugar {
    width: 100%;
    height: var(--size);
    border-radius: 3px;
    background: var(--negro);
    padding: 0 10px;
    font-size: 1rem;
    color: var(--fondo);
    border: var(--negro) solid 2px;
    margin: 10px 0;
    font-weight: bolder;
}

.RegistroAudiencia #FechaAudiencia {
    width: 250px;
    height: 1.8rem;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 1em;
    margin: 10px 0;
    font-weight: normal;
    border: var(--negro) solid 1px;
}

.RegistroAudiencia .HoraAudiencia {
    display: flex;
    flex-wrap: wrap;
    height: 45px;
    width: 250px;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.RegistroAudiencia .HoraAudiencia h3 {
    font-size: 1rem;
    font-weight: bold;
}

.RegistroAudiencia #hora {
    width: 100%;
    text-align: center;
    font-size: 1rem;

}

.RegistroAudiencia .Horas {
    margin: 0 3px;
    width: 35px;
    text-align: center;
    border-radius: 3px;
    height: 25px;
    border: var(--negro) solid 2px;
    color: var(--negro);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.RegistroAudiencia #Categorias {
    width: 250px;
    height: 1.8rem;
    border-radius: 3px;
    text-align: center;
    margin: 10px 0;
    border: var(--negro) solid 1px;
}

.RegistroAudiencia .containerDescripcion {
    padding: 0 15px;
    background: var(--negro);
    border-radius: 3px;
    width: 100%;
    color: var(--fondo);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.RegistroAudiencia .containerDescripcion h3 {
    color: var(--fondo);
    margin: 10px 5px 10px 5px;
    font-weight: bold;
    font-size: 15px;

}

.RegistroAudiencia #DescripcionAudiencia {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    height: 125px;
    margin-bottom: 13px;
}

.RegistroAudiencia .GuardarNotificar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.RegistroAudiencia .btnGN {
    height: 45px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    transition: all 400ms ease;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.7);
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.RegistroAudiencia .btnGN span {
    position: relative;
    transition: 0.4s;
    display: inline-block;
}

.RegistroAudiencia .btnGN span::after {
    content: '»';
    opacity: 0;
    position: absolute;
    top: 0;
    right: -15px;
    transition: 0.4s;
}


.RegistroAudiencia #Guardar {
    background: var(--fondoGris);
}

.RegistroAudiencia #Notificar {
    background: var(--negro);
    color: var(--fondo);
}

.RegistroAudiencia .btnGN:hover span {
    padding-right: 15px;
}

.RegistroAudiencia .btnGN:hover span::after {
    opacity: 1;
    right: 0;

}

.RegistroAudiencia #Notificar:hover {
    background: var(--amarillo);
    color: var(--fondo);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.RegistroAudiencia #Guardar:hover {
    background: var(--fondo);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.vf {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

}

#añadirInvolucrado {
    width: 400px;
    height: 450px;
    background-color: #A24247;
    border-radius: 5px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.8);
}

#añadirInvolucrado form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    align-items: center;

}

#añadirInvolucrado form .añIn {
    height: var(--size);
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 0 5px;

}

#añadirInvolucrado #btnAñadir {
    transition: all 0.4s ease;
}

#añadirInvolucrado #btnAñadir:hover {
    background-color: var(--amarillo);
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.8);
    transform: translate(-0.4%);
}

#añadirInvolucrado #btnCerrar {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 3px;
    border: none;
    font-size: 1.1rem;
    transition: all 0.4s ease;
}

#añadirInvolucrado #btnCerrar:hover {
    background-color: var(--amarillo);
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.8);
}