* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  --negro: #1E1F28;
  --fondo: #FFFFFF;
  --amarillo: #C9932C;
  
}

.containerHeader {
  height: 84px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.containerHeader .usuario {
  height: 38px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 25px;
}

.containerHeader .usuario img {
  height: 25px;
  width: 25px;
  margin-right: 8px;
}

.containerHeader .usuario h3 {
  font-size: 1rem;
  font-weight: normal;
}

.containerHeader .cabecera {
  height: 44px;
  background-color: var(--negro);
  display: flex;
  width: 100%;
}


.cabecera .avatar {
  position: absolute;
  max-height: 60px;
  max-width: 60px;
  top: 15px;
  left: 15px;
}

.cabecera .header {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 90px;
  justify-content: space-between;
}

.header .navegador {
  display: flex;
}

.cabecera .header .a {
  display: flex;
  height: 40px;
  align-items: center;
  transition: all 0.3s ease;
  margin: 0 1px;
}

.cabecera .header a {
  display: flex;
  text-decoration: none;
  color: var(--fondo);
  height: 40px;
  align-items: center;
  width: 100%;
}
.cabecera .header a span{
  font-weight: bold;
  font-size: 1rem;
  margin: 0 20px;
}

.cabecera .header .a:hover {
  background: var(--amarillo);
}

.search form{
  display: flex;
  align-items: center;

}
.search form img{
  height: 25px;
  width: 25px;
  margin: 0 10px;
}

.search #buscador {
  border-radius: 5px;
  height: 1.9rem;
  width: 300px;
  font-size: 1rem;
  font-weight: normal;
  padding: 0 10px;
  border: var(--fondo) solid 2px;
  background-color: var(--fondo);
  margin-right: 15px;
}